workflows/CTJriku4JvV2LFqf.json
{
  "updatedAt": "2026-05-22T05:33:48.474Z",
  "createdAt": "2026-04-15T05:45:49.124Z",
  "id": "CTJriku4JvV2LFqf",
  "name": "Nudge Followup prompt",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant that determines when a follow-up email should be sent and the followup message. The followup message is to be sent after recommendedDelayInDays from Current Time, but the content is based from Sent Time, so the content should feel like so. Use the redacted values wisely. Copy the same format as original body but replace newlines with '/n'.\n\nAnalyze the email context and classify it based on the following factors:\n\n1. Urgency:\n- high: blocking issue, customer problem, revenue-impacting\n- medium: expected response but not critical\n- low: optional or informational\n\n2. Relationship:\n- internal: same company\n- external: customer/client\n- VIP: high-value client or priority account\n- cold: no prior relationship or outreach\n\n3. Nature of the email:\n- support: resolving an issue/problem\n- sales: trying to close or move forward\n- info: providing information only\n- decision: waiting for approval or confirmation\n\n4. Time Sensitivity:\n- immediate: action expected within hours\n- short: action expected within 1–3 days\n- long: action expected within a week or more\n- none: no clear deadline\n\nThen determine:\n- whether a follow-up is needed (true/false)\n- recommended delay before follow-up (in hours or days)\n\nRules:\n- Do NOT recommend follow-up if the email is gibberish or is purely informational with no action required regardless if external or internal.\n- Do NOT prioritize follow-up if email explicitly states to only let them know if recipient encountered an issue.\n- Do NOT follow-up just to confirm if resolution is satisfactory. The recipient will normally just reply by themselves if they find an issue.\n- Prioritize faster follow-ups for high urgency + external/VIP\n- Avoid aggressive follow-ups for low urgency or internal messages\n- Ensure that the followupMessage tone matches the recommendedDelayInDays.\n  - shorter delay -> lighter nudge\n  - longer delay -> stronger follow-up\n\nCRITICAL RULE:\nDo NOT modify placeholder tokens such as __URL_0__, __EMAIL_0__, etc.\n- Do not rename them\n- Do not partially rewrite them\n- Do not add/remove characters\n- Always copy them EXACTLY as provided\n\nReturn your answer in JSON format:\n\n{\n  \"urgency\": \"high\",\n  \"relationship\": \"external\",\n  \"nature\": \"support\",\n  \"timeSensitivity\": \"short\",\n  \"shouldFollowUp\": true,\n  \"recommendedDelayInDays\": 1,\n  \"followupMessage\": \"...\",\n  \"reason\": \"...\"\n}\n\nEmail:\n---\nSent Time: {{ $json.sentTime }}\nCurrent Time: {{ new Date().toISOString().replace(/\\.\\d{3}Z$/, 'Z') }}\n{{ $json.subject }}\n\n{{ $json.body }}\n---",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "13c02cda-0348-424a-b63c-bd51b6d65e67",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": false,
      "maxTries": null,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"urgency\": \"high\",\n  \"relationship\": \"external\",\n  \"nature\": \"support\",\n  \"timeSensitivity\": \"short\",\n  \"shouldFollowUp\": true,\n  \"recommendedDelayInDays\": 1,\n  \"followupMessage\": \"...\",\n  \"reason\": \"...\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "131e5531-54cf-431c-b819-433ae2c54642",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        432
      ],
      "id": "1bf2b44f-4eba-486b-8d9f-382e63e5705a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AYb8AaoruAzc3uVt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"subject\":\"\",\n  \"body\":\"\",\n  \"sentTime\":\"\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "552c7261-35ac-483c-85df-2d8572489217",
      "name": "Start",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"output\": {\n  \"urgency\": \"high\",\n  \"relationship\": \"external\",\n  \"nature\": \"support\",\n  \"timeSensitivity\": \"short\",\n  \"shouldFollowUp\": true,\n  \"recommendedDelayInDays\": 1,\n  \"followupMessage\": \"Reply: {{ $json.body }}\",\n  \"reason\": \"{{ $json.subject }}\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -224
      ],
      "id": "64d8f7a8-4753-47e7-9789-4765f2fee337",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "subject": "Login password reset link.",
          "body": "​Good day,\n\nHere is the link to reset your login password.\n\n__URL_0__.\n\nPlease let us know if there are problems or concerns with resetting.",
          "sentTime": "2026-05-22T02:50:11Z"
        }
      }
    ]
  },
  "versionId": "a1600307-723b-4e98-a7b8-149ac9683f48",
  "activeVersionId": null,
  "versionCounter": 231,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-04-21T11:40:32.921Z",
      "createdAt": "2026-04-21T11:40:32.921Z",
      "id": "AdmOOQj7jhgPkkAA",
      "name": "Nudge"
    },
    {
      "updatedAt": "2026-05-21T03:33:36.033Z",
      "createdAt": "2026-05-21T03:33:36.033Z",
      "id": "FDr9UduSpa2ppJVf",
      "name": "Helper"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-25T05:15:00.996Z",
      "createdAt": "2026-05-25T05:15:00.996Z",
      "role": "workflow:owner",
      "workflowId": "CTJriku4JvV2LFqf",
      "projectId": "BOSoaMaNdGZZCslO",
      "project": {
        "updatedAt": "2026-05-25T05:16:34.580Z",
        "createdAt": "2026-05-25T05:14:59.933Z",
        "id": "BOSoaMaNdGZZCslO",
        "name": "Virgel Rai Torres <virgelraitorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b24808f-e7d4-4976-8061-5193dc3b0aa7"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 4a4d5c0a",
    "description": ""
  }
}