workflows/JWLjZOyPtrSWZ9Ay.json
{
  "updatedAt": "2026-05-22T06:06:28.852Z",
  "createdAt": "2026-04-21T08:41:00.656Z",
  "id": "JWLjZOyPtrSWZ9Ay",
  "name": "Nudge 2 Email Followup checker",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "baffab45-a5c1-4ec1-a8f0-6f21de079bbe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e3ac88b-f51b-41bb-a1c5-b9d89e084b4c",
              "leftValue": "={{ $json.nextFollowUpAt }}",
              "rightValue": "={{ $now.plus(($('Call \\'Nudge Config\\'').first().json.isActualEnvironment ? 0 : 100), 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -320
      ],
      "id": "0cbef9cf-36fa-4af1-bd35-7c6b64a12eb2",
      "name": "If need followup based on time"
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATM0MDAAMS0zMTVjLTJjZjktMDACLTAwCgAuAAADMFolCxHdqUKFau4WdE9nJgEAEpFoJHQSgk2W2zgaaj5-uwAAAgEMAAAA",
          "mode": "list",
          "cachedResultName": "Inbox",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATM0MDAAMS0zMTVjLTJjZjktMDACLTAwCgAuAAADMFolCxHdqUKFau4WdE9nJgEAEpFoJHQSgk2W2zgaaj5%2FuwAAAgEMAAAA"
        },
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $json.sentTime.toDateTime().toISO() }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1792,
        -320
      ],
      "id": "46f7039f-8558-433d-86d2-aaff9f7d7953",
      "name": "Get inbox to check reply",
      "webhookId": "5f51c449-7ecb-4bf7-89b1-e3d6467a1f23",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Ak8eSNxoAFoVpMSH",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c91789b-3191-4e70-b8df-1e4d0f434755",
              "leftValue": "={{ $json.hasReply }}",
              "rightValue": "={{ $('Get rows in sheet').item.json.conversationId }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -320
      ],
      "id": "70d234e9-f17e-4ac2-a186-6d3ec1a42e9a",
      "name": "If has reply"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "={{ $('Call \\'Nudge Config\\'').first().json.excelid }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Emails"
        },
        "dataMode": "autoMap",
        "columnToMatchOn": "=messageId",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        1568,
        -320
      ],
      "id": "805370ad-d4e2-475b-8d1a-57c3f5e25404",
      "name": "Update to processing",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "oM2neqj8MXSPU2ea",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "={{ $('Call \\'Nudge Config\\'').first().json.excelid }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Emails"
        },
        "dataMode": "autoMap",
        "columnToMatchOn": "=messageId",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        2688,
        -320
      ],
      "id": "73172eda-9db8-43d2-ab67-ae0d9dd33de4",
      "name": "Update to replied",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "oM2neqj8MXSPU2ea",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a4e881c-dd0c-467a-b57a-2b7625ba9846",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        64
      ],
      "id": "448036d7-bfe9-425e-be4f-e5d12aaea7bb",
      "name": "Filter pending"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Update to processing').item.json.messageId }}",
          "mode": "id"
        },
        "message": "={{ $json.htmlMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2688,
        -128
      ],
      "id": "8cedc50d-7c87-41e5-bc51-f4571fbfe10a",
      "name": "Reply to a message",
      "webhookId": "99314605-cd13-45c8-854d-b2f465357eda",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Ak8eSNxoAFoVpMSH",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "={{ $json.excelid }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Emails"
        },
        "table": {
          "__rl": true,
          "value": "{2F05FF99-E67A-4FC0-A0B4-72DAFAACC3C0}",
          "mode": "list",
          "cachedResultName": "email"
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        448,
        64
      ],
      "id": "2128c573-7e19-4c75-8012-76bf7cdad2eb",
      "name": "Get rows in sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "oM2neqj8MXSPU2ea",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        64
      ],
      "id": "344f904a-3c20-4580-8574-bbad6f082a78",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const inbox = $input.all()\n\nconst reply = inbox.find(m =>\n  m.json.conversationId === $('Update to processing').first().json.conversationId &&\n  m.json.sender.emailAddress.address !== $('Update to processing').first().json.sender\n);\n\nreturn {\n  hasReply: !!reply\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -320
      ],
      "id": "ce40b960-3a4b-4db8-ade4-92e4cb51efd2",
      "name": "Check reply",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let text = $('Update to processing').item.json.followUpMessage;\n\nconst html = text\n  .replace(/\\/n/g, '<br>')\n  .replace(/\\n/g, '<br>');\n\nreturn {\n  htmlMessage: html\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -128
      ],
      "id": "1b8e8cd6-6786-49fb-aa69-3c7db4323b4c",
      "name": "Clean followup message",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  messageId: $('If need followup based on time').item.json.messageId,\n  status: \"processing\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -320
      ],
      "id": "7df5422b-0130-41dc-ab1b-95f087b2d697",
      "name": "Prepare processing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  messageId: $('Update to processing').item.json.messageId,\n  status: \"replied\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -320
      ],
      "id": "7b73c45c-6cdb-4169-9f30-645e5045e9ef",
      "name": "Prepare replied"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  messageId: $('Update to processing').item.json.messageId,\n  status: \"followupsent\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -128
      ],
      "id": "dff8e715-8c7d-413b-92e3-68b6f8a1a49f",
      "name": "Prepare followupsent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b3OCuHLwF5yV7QDp",
          "mode": "list",
          "cachedResultUrl": "/workflow/b3OCuHLwF5yV7QDp",
          "cachedResultName": "Nudge Config"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        64
      ],
      "id": "7b9c2931-1043-44fb-ba88-4e7e8ddeacad",
      "name": "Call 'Nudge Config'"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "={{ $('Call \\'Nudge Config\\'').first().json.excelid }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Emails"
        },
        "dataMode": "autoMap",
        "columnToMatchOn": "=messageId",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        3136,
        -16
      ],
      "id": "50cc84ba-d350-4b74-9685-8b7fb553e62f",
      "name": "Update to followupsent",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "oM2neqj8MXSPU2ea",
          "name": "Microsoft Excel account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'Nudge Config'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If need followup based on time": {
      "main": [
        [
          {
            "node": "Prepare processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get inbox to check reply": {
      "main": [
        [
          {
            "node": "Check reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has reply": {
      "main": [
        [
          {
            "node": "Prepare replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean followup message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to processing": {
      "main": [
        [
          {
            "node": "Get inbox to check reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to replied": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter pending": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Prepare followupsent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows in sheet": {
      "main": [
        [
          {
            "node": "Filter pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If need followup based on time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check reply": {
      "main": [
        [
          {
            "node": "If has reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean followup message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare processing": {
      "main": [
        [
          {
            "node": "Update to processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare replied": {
      "main": [
        [
          {
            "node": "Update to replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare followupsent": {
      "main": [
        [
          {
            "node": "Update to followupsent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Nudge Config'": {
      "main": [
        [
          {
            "node": "Get rows in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to followupsent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f74b1434-07ba-459a-931f-092d14966cb7",
  "activeVersionId": null,
  "versionCounter": 352,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-04-21T11:40:32.921Z",
      "createdAt": "2026-04-21T11:40:32.921Z",
      "id": "AdmOOQj7jhgPkkAA",
      "name": "Nudge"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-25T05:15:01.009Z",
      "createdAt": "2026-05-25T05:15:01.009Z",
      "role": "workflow:owner",
      "workflowId": "JWLjZOyPtrSWZ9Ay",
      "projectId": "BOSoaMaNdGZZCslO",
      "project": {
        "updatedAt": "2026-05-25T05:16:34.580Z",
        "createdAt": "2026-05-25T05:14:59.933Z",
        "id": "BOSoaMaNdGZZCslO",
        "name": "Virgel Rai Torres <virgelraitorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b24808f-e7d4-4976-8061-5193dc3b0aa7"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 26c33dd6",
    "description": ""
  }
}